@import '_utilities';
@import '_universal';

//first content div (store info)

.store-info {
  margin: 3rem auto;
  text-align: center;
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  div {
    display: inline-block;
    width: 30%;
    min-width: 15rem;
    vertical-align: text-top;
    margin: 0 auto;
    h2 {
      margin-bottom: 0.25rem;
    }
  }
}

//second content div (mochi bits)

.mochi-bits {
  width: 100%;
  background-color: #f0f0f0; //change this color
  text-align: center;
  padding: 3rem 0;
  margin: 3rem auto;
  h2 {
    margin-bottom: 2rem;
  }
  img {
    max-width: 25rem;
  }
  .mochi-desc {
    display: inline-block;
    width: 45%;
    text-align: center;
    vertical-align: top;
    margin-left: 4rem;
    p {
      margin-bottom: 0.75rem;
    }
  }
}

//third content div (reviews and misc.)

.reviews {
  width: 65%;
  text-align: center;
  margin: 3rem auto;
  h2 {
    margin-bottom: 1rem;
  }
  p:nth-of-type(2n){
    margin: 0.5rem auto;
    font-weight: bold;
  }
}
