* {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  background: linear-gradient(rgba(251, 172, 211, 0.15), rgba(251, 172, 211, 0.15)), url(../images/soft_circle_scales.png) fixed top right;
  box-sizing: border-box;
  color: #3c3c3d;
  font-family: "Avenir", "Avenir Next", "Helvetica Neue", "Segoe UI", "Verdana", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  min-height: 100%;
  position: relative;
}

header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/memory/entrymon.jpg) no-repeat center;
  background-size: cover;
  height: 40vh;
  color: #ccc;
  overflow: hidden;
}

a {
  text-decoration: underline;
  color: #3c3c3d;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  width: 100%;
  height: 3rem;
}

nav ul {
  height: 100%;
}

nav li {
  display: inline-block;
  margin: 0 0.5rem;
  height: 100%;
  padding-top: 0.4rem;
}

nav li a {
    color: #ccc;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: auto;
}

nav a:hover {
  background-color: #ccc;
  color: #3c3c3d;
  transition-duration: 0.4s;
}

.store-info,
.mochi-bits,
.reviews {
  margin: 2rem auto;
}

.store-info {
  position: relative;
  width: 60%;
  margin: 2rem auto;
  overflow: auto;
}

#info {
  float: left;
}

.store-info img{
    display: inline-block;
    float: right;
    width: 20%;
    min-width: 200px;
  }

.mochi-bits {
    max-width: 85%;
  }

.mochi-bits img {
  width: 25%;
  min-width: 200px;
  margin: 1rem 0;
}

/*Media queries*/

  @media screen and (min-width: 960px) {
    html {
      font-size: 78.125%; } }
